In [1]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print('%d번학생은 합격입니다.' % number)
    else:
        print('%d번 학생은 불합격 입니다.' % number)

1번학생은 합격입니다.
2번 학생은 불합격 입니다.
3번학생은 합격입니다.
4번 학생은 불합격 입니다.
5번학생은 합격입니다.

In [2]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print('%d번 학생 축하드립니다. 합격입니다' %number)

1번 학생 축하드립니다. 합격입니다
3번 학생 축하드립니다. 합격입니다
5번 학생 축하드립니다. 합격입니다

In [3]:
a = range(10)  #0부터 10 미만의 숫자를 포함하는 range 객체 생성

In [4]:
a     #0 1 2 3 4 5 6 7 8 9

range(0, 10)

In [5]:
add = 0
for i in range(1,11):
    add = add + i

In [6]:
print(add)

55

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
marks = [90,25,67,45,80]
for number in range(len(marks)):        #len(marks)= 5 이기 때문에 실질적  for number in range(5)  range(5) > 0부터 5미만까지 0 1 2 3 4
    print(number)

0
1
2
3
4

In [9]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")    # end = " " 를 넣은 이유는 다음줄로 넘기지 않고 그 줄에 계속 출력하기 위해서
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [10]:
for i in range(1,11):
    if i %2 == 1:
        print(i)
    else:
        continue     #1부터 10까지 홀수만 도출하기

1
3
5
7
9

In [11]:
for i in range(1,11):
    if i %2 == 1:
        print(i)     #if 의 경우 else 생략 가능

1
3
5
7
9

In [12]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [13]:
a = [1,2,3,4]
result = [num * 3 for num in a]  #리스트 내포(리스트 축약)
print(result)

[3, 6, 9, 12]

In [15]:
# 연습문제 q1   p.146
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need") 
else: print("none")                                # if의 경우 True가 나오는 순간 이후 줄은 생략하고 결과를 도출

shirt

In [18]:
# q2
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

In [22]:
# q3
i = 0
while True:
    i += 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

In [20]:
# q4
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [23]:
###########################
#함수

In [24]:
def add(a,b):          # def 함수 생성 
    return a+b         # add 라는 이름의 함수  a,b 두 값을 받으면 더해서 돌려준다

In [25]:
a = 3
b = 4
c = add(a,b)

In [26]:
print(c)

7

In [27]:
d = add(1,2)

In [29]:
print(d)

3

In [30]:
def say():          # 입력값이 없는 함수
    return 'hi'     # 출력값만 존재

In [31]:
a = say()
print(a)

hi

In [32]:
def add(a, b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))         #결과값 (return)이 없는 함수

In [35]:
add(3,4)                   # 결과 값이 아닌 print (입력)   # 결과 값은 오직 return 으로만 받을 수 있다.

3, 4의 합은 7입니다.

In [37]:
a = add(3,4)
print(a)    # 결과는(return)은 없다 none 으로 도출된다

3, 4의 합은 7입니다.
None

In [38]:
def say():                   # 입력값 , 결과값 둘다 없는 함수
    print('hi')               # ( )안에 변수 (입력값), return (결과값) 둘다 없는 함수

In [39]:
say()

hi

In [40]:
def add_many(*args):                        #입력값이 몇개일지 모를떄
    result = 0                               # 관용적으로 *args 사용
    for i in args:
        result = result + i 
    return result

In [41]:
result = add_many(1,2,3)
print(result)

6

In [42]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [53]:
def add_mu1(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [54]:
result = add_mu1('add',1,2,3,4,5)
print(result)

15

In [55]:
result = add_mu1('mul',1,2,3,4,5)
print(result)

120

In [61]:
def add_and_mul(a,b):
    return a+b, a*b

In [62]:
result = add_and_mul(3,4)   # result는 결과값을 하나만 가진다

In [63]:
print(result)    # 7과 12 결과 값이 두개인 것이 아니라 튜플 값 하나 이다

(7, 12)

In [64]:
result1, result2 = add_and_mul(3,4)

In [65]:
print(result1)

7

In [66]:
print(result2)

12

In [67]:
def add_and_mul(a,b):
    return a+b             # 함수는 첫 return 문을 만나면 끝난다. 결과값 2개 X
    return a*b

In [68]:
result = add_and_mul(2,3)

In [69]:
print(result)

5

In [70]:
def say_myself(name, old , man=True):                 #man= True가 초기값(기본값)으로 들어간다
    print('나의 이름은 %s 입니다.' % name)             # 초기값 설정은 맨 뒤로 가야한다 그렇지 않으면 오류 발생
    print('나이는 %d살입니다.' % old) 
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [72]:
say_myself("박응용", 27)           #따로 True나 False를 입력하지않으면 처음 들어간 초기값으로 도출된다

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [73]:
say_myself("박응용", 27, True)       # True가 들어가도 안들어가도 결과값이 남자로 도출

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [74]:
say_myself("박응선", 27 , False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [75]:
a = 1
def vartest(a):       # 함수 안에서 새로만든 매개변수는 함수 안에서만 사용하는 함수만의 변수가 된다 (지역 변수)
    a = a + 1         # 전역변수 : 전체에서 통용되는 변수 (지역변수와 반대)
    
vartest(a)
print(a)

1

In [78]:
a = 1                   # 함수밖의 변수 a를 1만큼 증가시키기 위해 return문 사용
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [79]:
a = 1 
def vartest():
    global a          # 함수 밖의 변수 a를 직접 사용하겠다는 명령어
    a = a + 1          # global 명령어는 잘 사용하지 않는다.
    
vartest()
print(a)

2

In [80]:
add = lambda a, b:a+b     # def과 같은 역할을 하는 lambda (간결하게 만드는 역할)
result=add(3,4)            # lambda는 return 명령어가 없어도 결과값을 도출한다,
print(result)

7

In [81]:
a = input()     # input 은 입력되는 모든것을 문자열로 취급한다 (숫자를 입력해도 문자열로 취급)

Life is too short, you need python

In [82]:
a

'Life is too short, you need python'

In [85]:
number = int(input('숫자를 입력하세요:'))

숫자를 입력하세요:1234

In [86]:
number   # input을 숫자로 입력하고싶을때 int()로 input을 변환 시켜준다

1234

In [87]:
a = [1,2,3]

In [88]:
print(a)

[1, 2, 3]

In [89]:
print('life','is','too short')

life is too short

In [90]:
print('life'+'is'+'too short')

lifeistoo short

In [93]:
for i in range(10):
    print(i, end = ' ')     #end = ' ' 이용해서 세로가 아닌 가로로 결과값 도출

0 1 2 3 4 5 6 7 8 9

In [94]:
f =open('새파일.txt', 'w')       # 파일 생성하기
f.close()

In [95]:
# 관리자 명령 프롬프트 명령어
# dir : 디렉토리안에 있는 파일의 목록 확인
#cd 디렉토리명 : 특정 디렉토리 안으로 이동
#cd.. : 디렉토리에서 빠져 나올 떄
#md 디렉토리명 : 디렉토리 만들기
#rd 디렉토리명 : 디렉토리 삭제

In [97]:
f = open('새파일.txt','w')
for i in range(1,10):
    data = '%d번째 줄입니다. \n' % i
    f.write(data)
f.close()                    #결과값을 도출해내지 않고 파일에 적어 놓는다.

In [98]:
f = open('새파일.txt', 'r')  
line = f.readline()           # 외부 파일을 읽는 방법
print(line)
f.close()                      #한줄만 읽어온다

1번째 줄입니다.

In [99]:
f = open('새파일.txt', 'r')
while True:               #파일 전부를 읽는다.
    line = f.readline()
    if not line: break       # 더 이상 읽을 줄이 없을때 break 실행
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [100]:
f = open('새파일.txt', 'r')
lines = f.readlines()          #readlines 함수는 모든 줄을 읽어서 '리스트'로 도출한다
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [101]:
f = open('새파일.txt', 'r')
data = f.read()            #f.read()는 파일 내용 전체를 문자열로 돌려준다
print(data)
f.close

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.

In [102]:
f = open('새파일.txt', 'a')   # a 는 추가
for i in range(11,20):                     # 파일에 내용 추가하기
    data = '%d번째 줄입니다.\n'% i
    f.write(data)
f.close()

In [103]:
#연습문제 q 1  p.179

def is_odd(i):
    if i % 2 == 1:
        return print("홀수")
    else:
        return print("짝수")
    
is_odd(7)

홀수

In [104]:
is_odd(8)

짝수

In [105]:
#q2
def average(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum / len(args)

average(1,2,3)

2.0