In [1]:
################
# class 클래스

In [2]:
result1 = 0
result2 = 0

def add(num):
    global result1
    result1 += num
    return result1

def add(num):
    global result2
    result1 += num                          # 이와 같이 같은 역할을 하는 함수를 클래스를 통해 간단히 가능
    return result2

In [4]:
class Calculator:
    def __init__(self):
        self.result = 0
        
    def add(self,num):
        self.result +- num
        return self.result

cal1 = Calculator()                      # Calculator 라는 클래스(함수)를  cal1 , cal2로 불러온다.
cal2 = Calculator()                      # Calculator 클래스로 만든 별개의 계산기 cal1 , cal2 를 객체라고 부른다

In [5]:
# 클래스로 만들어진 객체는 객체마다 고유한 성질을 가진다
# ex) cal1 이 수정 되더라도 cal2에는 영향이 없다.

In [7]:
#############
#객체를 인스턴스라고도 부른다
# 클래스와의 관계를 설명할때는 객체(object) 보다 인스턴스가 더 어울린다.

In [8]:
# 클래스 안에서의 함수는 메서드(method)라고 부른다

In [46]:
class fourcal:
    def setdata(self, first, second):        # self 는 매개변수가 아닌 객체의 이름 ex) a =fourcal 에서의 a 를의미한다
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second       # first 와 second 에 입력된 값을 더해서 도출해라.
        return result
    def mul(self):
        result = self.first * self.second       
        return result
    def sub(self):
        result = self.first - self.second       
        return result
    def div(self):
        result = self.first / self.second       
        return result

In [47]:
a = fourcal()

In [48]:
a.setdata(4,2)

In [49]:
a.first

4

In [50]:
a.second

2

In [51]:
b = fourcal()

In [52]:
b.setdata(3,7)

In [53]:
b.first

3

In [54]:
b.second

7

In [55]:
# b 객체의 first에 3 second 에 7이 입력된다고 해서 a의 first 와 second 값은 변하지 않는다 
# 객체들은 각자 고유의 성질을 가지고 서로 영향을 주지 않는다.

In [56]:
a.add()

6

In [58]:
a.mul()

8

In [59]:
a.sub()

2

In [61]:
a.div()

2.0

In [62]:
########
#생성자 (constructor)

In [66]:
class fourcal:
    def __init__(self, first, second):    # __init__ 으로 인해 생성자로 인식 
        self.first = first                # 생성자는 객체를 호출하면 setdata 없이 자동으로 값이 대입된다
        self.second = second
    def add(self):
        result = self.first + self.second      
        return result
    def mul(self):
        result = self.first * self.second       
        return result
    def sub(self):
        result = self.first - self.second       
        return result
    def div(self):
        result = self.first / self.second       
        return result

In [67]:
a = fourcal(4,2)     # __init__으로 인해 생성자로 인식되어 a 객체를 호출함과 동시에 first 와 second 값이 대입된다.

In [68]:
a.first

4

In [69]:
a.second

2

In [71]:
###############
#클래스의 상속 (inheritance)

In [75]:
class morefourcal(fourcal):          # morefourcal 이 fourcal이라는 클래스를 상속받는다.
    def pow(self):
        result = self.first ** self.second     #fourcal의 기능을 상속받아 fourcal 의 기능은 그대로 둔채 기능을 확장시킬때 주로 사용한다.
        return result

In [76]:
a = morefourcal(4,2)              # morefourcal 이 fourcal 과 같은 기능을 한다.

In [77]:
a.add()

6

In [78]:
a.pow()

16

In [79]:
#########
#메서드(method)오버라이딩 (덮어쓰기)

In [80]:
a = fourcal(4,0)

In [81]:
a.div()    # 0으로 나누기 때문에 에러 발생  (ZeroDivisionError)

ZeroDivisionError: division by zero

In [84]:
class safefourcal(fourcal):     # 클래스 fourcal 의 기능을 safefourcal에 상속한다.
    def div(self):
        if self.second == 0:                    #상속받은 클래스의 기능과 같은 이름의 함수(메서드)가 있을경우 새로 추가된 함수가 적용된다
            return 0
        else: return self.first / self.second   #second 값이 0이면 계산하지 않고 0을 도출해라

In [85]:
a = safefourcal(4,0)
a.div()

0

In [89]:
#############
#모듈   (=: 파이썬 파일)

In [91]:
#########
#예외처리 (에러 처리)      # try except 문          # try finally

In [92]:
# try
  # .........          #try 문에서 오류가 발생하면 except 문이 실행된다
# except

In [93]:
# try
   # ..............     # except 와 달리 finally는 무조건 실행된다 
#finally

In [94]:
#try
  #.............     # try문에서 오류가 발생되면 except문이 실행되고 오류가 발생하지않으면 else 문이 실행된다
#except
# else

In [98]:
try:
    f = open("없는파일",'r')  # 없는파일을 r(읽어라)
except FileNotFoundError:
    pass                     #FileNotFoundError가 발생하면 오류를 내지말고 지나가라

In [103]:
class bird:
    def fly(self):
        raise NotImplementedError

In [110]:
class eagle(bird):
    def fly(self):
        print('very fast')

In [111]:
Eagle = eagle()

In [113]:
Eagle.fly()

very fast

In [114]:
class myerror(Exception):
    pass

In [117]:
def say_nick(nick):
    if nick =='바보':
        raise myerror()
    print(nick)

In [118]:
say_nick('천사')

천사

In [120]:
say_nick('바보')    # 바보 와 같으면 myerror를 호출

myerror:

In [121]:
try:
    say_nick('천사')
    say_nick('바보')
except myerror:
    print('허용되지 않는 별명입니다.')

천사
허용되지 않는 별명입니다.

In [122]:
try:
    say_nick('천사')
    say_nick('바보')
except myerror as e:
    print(e)

천사

In [123]:
abs(3)

3

In [124]:
abs(-3)      #절댓값

3

In [125]:
all([1,2,3])

True

In [126]:
all([1,2,3,0])   #숫자형의 경우 0은 false

False

In [127]:
any([1,2,3])

True

In [128]:
any([1,2,3,0])

True

In [130]:
chr(97)  #chr 은 aski 코드값을 입력받아 그 코드에 해당하는 문자를 출력

'a'

In [131]:
chr(98)

'b'

In [134]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [135]:
divmod(7,3) # 몫과 나머지를 튜플로 돌려준다

(2, 1)

In [137]:
for i, name in enumerate(['body','foo','bar']):    #순서가 있는자료형(리스트 튜플 문자열)을 입력으로 받아 인덱스값을 포함하는 객체를 도출
    print(i,name)

0 body
1 foo
2 bar

In [138]:
##################
#filter

In [154]:
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result

In [155]:
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [159]:
def positive(x):
    return x > 0

In [160]:
print(list(filter(positive,[1,-3,2,0,-5,6])))

[1, 2, 6]

In [161]:
a = 3

In [162]:
id(3)

140710049490784

In [163]:
b = a

In [164]:
id(b)

140710049490784

In [165]:
a = input()

hi

In [167]:
b = input('입력하세요')

입력하세요:1234

In [169]:
type(b)       # input을 거치면 숫자를 입력해도 문자열로 저장된다

str

In [173]:
c = int(input('입력하세요'))        # int 함수를 통해 문자열로 입력된 1234를 숫자열로 전환한다

입력하세요12334

In [174]:
type(c)

int

In [176]:
len('python')   #입력값의 길이 (띄어쓰기도 글자 포함)

6

In [178]:
len([1,2,3]) #리스트 에서는 항목 하나하나를 갯수로 친다.

3

In [180]:
list('python')   #list 는 자료형을 입력받아 리스트로 만들어준다

['p', 'y', 't', 'h', 'o', 'n']

In [183]:
list((1,2,3))  # 튜플도 리스트로 바꿔준다 
               # 삭제, 수정이 불가능한 튜플을 리스트로 전환해 수정 가능

[1, 2, 3]

In [188]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)    # 리스트 요소를 입력받아 각 입력값에 2를 곱한 결과값을 돌려준다
    return result                 # map 함수를 통해 간결하게 만들수있다.

In [187]:
result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [189]:
def two_times(x):
    return x*2

In [191]:
list(map(two_times,[1,2,3,4]))   # map 함수는 두번째 인수를 첫번째 인수에 있는 함수에 하나씩 적용해서 도출하는 함수이다

[2, 4, 6, 8]

In [193]:
max([1,2,3])   # 인수 안에 최댓값을 돌려준다

3

In [195]:
max('python')   # 글자에서도 최댓값이 도출된다

'y'

In [197]:
min([1,2,3])   # 최솟값

1

In [199]:
ord('a')    # 인수에 대한 아스키 값을 돌려준다   # chr 함수와 반대 chr 은 아스키값 입력 = 문자 도출

97

In [201]:
list(range(5))    #  5 미만까지  시작점을 지정하지 않으면 0에서 시작한다

[0, 1, 2, 3, 4]

In [203]:
list(range(5,10))   #5이상 10미만

[5, 6, 7, 8, 9]

In [205]:
list(range(1,10,2))  # 5 이상 10 미만 2씩 증가

[1, 3, 5, 7, 9]

In [208]:
list(range(0,-10,-1))  #0부터 -10 까지 -1씩

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [210]:
round(4.6)  # 반올림 함수

5

In [212]:
round(4.2)

4

In [213]:
round(5.678,2)    #5.678을 소숫점 2자리까지 반올림

5.68

In [215]:
str(3)   # int 와 반대로 인수를 문자열 형태로 변환 한다

'3'

In [216]:
sum([1,2,3])    # 입력받은 리스트나 튜플의 모든 요솟값의 합을 도출

6

In [219]:
# a = [332 , 342 , 456] 평균

a = [332, 342, 456]
sum(a) / len(a)

376.6666666666667

In [221]:
round(sum(a) / len(a),2)

376.67

In [224]:
import numpy as np
a = np.array([332, 342, 456])
print(a.mean())

376.6666666666667

In [226]:
list(zip([1,2,3],[4,5,6]))    # zip함수는 리스트를 엮어준다  * 엮어줄 두 리스트가 개수가 동일해야한다.

[(1, 4), (2, 5), (3, 6)]