In [5]:
a = 3 
if a > 1:
    print('a is greater than 1')

a is greater than 1

In [6]:
a = 1 
if a > 1:
    print('a is greater than 1')

In [7]:
for a in [1,2,3]:
    print(a)

1
2
3

In [8]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [9]:
def add(a,b):
    return a+b

add(3,4)

7

In [10]:
# 나머지 연산자

7 % 3

1

In [11]:
3 % 7

3

In [12]:
12 % 2

0

In [13]:
7 / 4

1.75

In [14]:
7 // 4  # //은 몫을 구한다

1

In [15]:
"Hello World"

'Hello World'

In [16]:
'Python is fun'

'Python is fun'

In [17]:
"""life is too short"""

'life is too short'

In [18]:
'''You need python'''

'You need python'

In [19]:
"Python's favorite food is perl"  # '를 글자로 취급하려면 ""로 문자열을 만든다

"Python's favorite food is perl"

In [21]:
'"Python is very easy" he says'   # "f를 글자로 취급하려면 '로 문자열을 만든다

'"Python is very easy" he says'

In [24]:
'Python\'s favorite food is perl' #백슬래시 or \을 ' , " 앞에 치면 무력화, 삽입 가능하다

"Python's favorite food is perl"

In [25]:
"\"Python is very easy.\" he says"

'"Python is very easy." he says'

In [28]:
multiline = "Life is too short\n you need python"   # 여러줄을 대입하고싶을떄 \n or 역슬래시n

In [29]:
multiline

'Life is too short\n you need python'

In [33]:
multiline = '''
Life is too short
You need python
'''
#여러줄 대입할때 ''' , """ 도 사용가능

In [31]:
multiline

'\nLife is too short\nYou need python\n'

In [32]:
print(multiline)

Life is too short
You need python

In [36]:
head = 'Python'
tail = 'is fun!'
head + tail   #파이썬 특징 문자열도 연산 가능

'Pythonis fun!'

In [38]:
a = 'python'
a * 2       #문자열 곱하기 가능

'pythonpython'

In [40]:
print("="* 50)
print("My program")
print("="* 50)

==================================================
My program
==================================================

In [42]:
a = 'Life is'
len(a)     #len(글자수 세기) 빈칸도 1글자로 친다

7

In [43]:
a = 'Life is too short, You need Python'

In [45]:
a[3] #인덱싱(indexing) ex)문자열의 3번째를 가리킨다 f가 아닌 이유는 **시작이 1이 아닌 0**

'e'

In [48]:
a[-1]   # -1에 경우 역으로 돌아가 가장 마지막 글자를 나타낸다

'n'

In [50]:
a[-0] #-0 = 0

'L'

In [53]:
a[0:4]   #슬라이싱(slicing)은 0부터 4까지 한꺼번에 도출

'Life'

In [56]:
a[0:3] #슬라이싱은 뒷자리 숫자는 이하가 아니라 *미만*이기때문에 마지막은 포합되지 않는다.

'Lif'

In [58]:
a[0:5] #빈칸도 글자 수에 포함된다

'Life '

In [59]:
a[5:7]

'is'

In [61]:
a[19:] #뒤 숫자를 생략하면 끝까지 도출

'You need Python'

In [64]:
a[:17] #앞 숫자 생략하면 처음부터 도출

'Life is too short'

In [66]:
a[:] #양 숫자 생략하면 처음부터 끝까지

'Life is too short, You need Python'

In [68]:
a[19:-7] # 뒤 숫자는 미만이기 때문에 -7은 포함하지 않고 - 8까지 도출

'You need'

In [69]:
a = '20010331Rainy'

In [72]:
date = a[:8]  #문자열 나누기

In [71]:
date

'20010331'

In [73]:
weather = a[8:]

In [74]:
weather

'Rainy'

In [75]:
a = "20010331rainy"

In [76]:
year = a[:4]
day = a[4:8]
weather = a[8:]

In [77]:
year

'2001'

In [78]:
day

'0331'

In [79]:
weather

'rainy'

In [81]:
'I eat %d apples' % 3   #문자열 안에 정수 3을 삽입하는 방법 넣고싶은 자리에 %d 를 넣어주고 삽입할 숫자는 마지막에 % 3

'I eat 3 apples'

In [84]:
"I eat %d apples" % 10  # %d는 문자열 포멧 코드라 부른다

'I eat 10 apples'

In [90]:
"I eat %s apples" % "five"  # 문자를 삽입할때는 %s 문자열 대입할때는 " or ' 는 필수로 써줘야한다

'I eat five apples'

In [92]:
number = 3
'I eat %d apples' % number   #변수 대입

'I eat 3 apples'

In [94]:
number = 10
day = "three"
'I ate %d apples. so i was sick for %s days' %(number, day)   #2개 이상의 값 넣기

'I ate 10 apples. so i was sick for three days'

In [97]:
"Error is %d%%" %95    # %를 문자로 넣고싶을때는 %%를 활용한다

'Error is 95%'

In [99]:
"%10s" % "hi"  # %10s 는 전체 길이가 10개인 문자열을 만들고 뒤 글자를 오른쪽 끝으로 정렬한다

'        hi'

In [102]:
"%-10sjane" % 'hi'   #왼쪽 정렬은 %-10s가 된다

'hi        jane'

In [107]:
'%0.4f' % 3.42134234  #소수점 4자리수까지 나타낼때 %0.4f

'3.4213'

In [110]:
'%10.4f' % 3.42134234 #문자열 길이가 10인 문자열에 소수점 4자리까지 도출

'    3.4213'

In [111]:
'I eat {0} apples' .format(3)

'I eat 3 apples'

In [112]:
'I eat {0} apples' .format('five')

'I eat five apples'

In [113]:
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [116]:
number =  10
day = 'three'
'I ate {0} apples. so I was sick for {1} days' .format(number , day)   # {} 안의 숫자는 .format 의 숫자를 나타낸다 **항상 0이 시작**

'I ate 10 apples. so I was sick for three days'

In [118]:
"I ate {number} apples. so I was sick for {day} days" .format(number=10 , day=3)

'I ate 10 apples. so I was sick for 3 days'

In [119]:
'I ate {0} apples. so I was sick for {day} days.' .format(10 , day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [124]:
"{0:<10}" .format("hi")  #길이가 10인 문자열 왼쪽에hi 삽입

'hi        '

In [123]:
"{0:^10}" .format("hi")  #길이가 10인 문자열 가운데에 삽입 가운데에 경우 ^

'    hi    '

In [127]:
a = 'hobby'
a.count('b')    #문자 개수 세기 a 안에 있는 b의 개수

2

In [129]:
a = 'Python is the best choice'
a.find('b')                          #  문자 위치 찾기 a에서 b가 몇번째에 있는가

14

In [131]:
a.find('k')   #존재하지 않으면 -1이라고 나온다

-1

In [132]:
a = 'Life is too short'

In [135]:
a.index('t')  #문자열중 가장 처음 t 의 위치. 존재하지 않는다면 error가 나온다 find에 경우 존재하지않으면 -1

8

In [138]:
",".join('abcd')   #문자열 삽입 join abcd 안에 , 를 넣어라

'a,b,c,d'

In [140]:
' '.join('abcd')  #문자열 안에 빈칸을 넣아라

'a b c d'

In [141]:
a = 'hi'

In [143]:
a.upper()  #소문자를 대문자로 바꾸기 upper

'HI'

In [145]:
a = 'HI'
a.lower()   #대문자를 소문자로 바꾸기 lower

'hi'

In [147]:
a   # lower upper 는 데이터 값이 아예 바뀌지는 않고 lower upper 에만 변환해서 보여준다

'HI'

In [150]:
a = ' hi '
a.strip()   #양쪽 공백 지우기 strip 오른쪽 공배의 경우 rstrip 왼쪽 공백의 경우 lstrip
            # 여백이 있을 경우 다른 값으로 하기 때문에 중요

'hi'

In [153]:
a = "Life is too short"
a.replace("Life" , "Your leg")   # 문자열 바꾸기 replace  life 를 your leg 로 바꿔라

'Your leg is too short'

In [157]:
a = "Life is too short"
a.split()                 #공백을 기준으로 문자열을 나눠준다 ***split***

['Life', 'is', 'too', 'short']

In [160]:
b = "a:b:c:d"
b.split(':')    # : 을 기준으로 나눠라
                # split 으로 나눈 값은 리스트 [] 안으로 넣어준다

['a', 'b', 'c', 'd']

In [162]:
##################################
#리스트 자료형

In [163]:
#리스트명 = [요소1 , 요소2, 요소3 ....] 리스트를 만들때 []로 감싸고 , 로 구분

a = []                  # 비어있는 리스트 가능
b = [1,2,3]
c = ['life','is', too', short']
d = [1, 2,'life','is']  #숫자 문자열 함께 요솟값 가능
e = [1,2,['life','is']] #리스트 안에 리스트도 가능

In [164]:
a = [1,2,3]
a

[1, 2, 3]

In [165]:
a[0]   # 리스트의 인덱싱(찾기) *0번째가 첫번째*

1

In [166]:
a[0] + a[2]

4

In [168]:
a[-1]   #-1이 마지막(역순)

3

In [173]:
a = [1,2,3,['a','b','c']]

In [174]:
a[0]

1

In [175]:
a[-1]

['a', 'b', 'c']

In [178]:
a[3]  #리스트 안에 있는 리스트는 한 요솟값으로 취급

['a', 'b', 'c']

In [180]:
a[-1][0]  #리스트 안에 리스트의 첫번쨰 요솟값

'a'

In [182]:
a = [1,2,3,4,5]   #리스트에서의 슬라이싱(나누기)
a[0:2]      # 2는 포함되지않는다 첫번쨰(0)부터 세번째(2)미만까지

[1, 2]

In [183]:
a = [1,2,3]
b = [4,5,6]

In [185]:
a + b   #리스트 더하기

[1, 2, 3, 4, 5, 6]

In [193]:
a = [1,2,3]
a*3          #리스트 곱하기

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [194]:
len(a)   # len의 경우 리스트에서는 문자열의 길이 x 항목의 갯수

3

In [196]:
a = [1,2,3]
a[2] +'hi'     #숫자와 문자는 계산할수없다

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [202]:
str(a[2]) + 'hi'   # 3hi로 표현하고싶으면 3을 문자화 시켜줘야한다
                   # str 값을 문자로 바꿔주는 함수

'3hi'

In [245]:
a =[1,2,3]

In [246]:
a[2] = 4  # 리스트 수정 2(3번쨰)를 4로 바꿔라.

In [247]:
a

[1, 2, 4]

In [253]:
a=[1,2,3]
del a[1]   #리스트 요솟값 삭제 a의 1(두번째)를 삭제해라
a

[1, 3]

In [254]:
a = [1,2,3,4,5]
del a[2:1]
a

[1, 2, 3, 4, 5]

In [255]:
a = [1,2,3]
a.append(4)     #리스트 안에 자료형 추가 append

In [256]:
a

[1, 2, 3, 4]

In [257]:
a.append([5,6])  #리스트 안에 리스트 추가

In [258]:
a

[1, 2, 3, 4, [5, 6]]

In [271]:
a = [1,4,3,2]
a.sort()     #a를 정렬하라 sort

In [272]:
a

[1, 2, 3, 4]

In [288]:
a = ['a','c','b']
a.reverse()
a                 #리스트 뒤집기 reverse

['b', 'c', 'a']

In [291]:
a = ['a','c','b']
a

['a', 'c', 'b']

In [293]:
a.sort()
a

['a', 'b', 'c']

In [295]:
a.reverse()
a

['a', 'b', 'c']

In [299]:
a = ['a','b','c']
a.index('c')       #리스트안에 c의 위치값 2(세번째) index

2

In [301]:
a.index('d')   #리스트에 없을 경우 에러

ValueError: 'd' is not in list