<a href="https://colab.research.google.com/github/sunwoo0326/pythonbasic/blob/main/Quiz26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#q1  리스트의 삭제
nums = [100,200,300,400,500]
del nums[3:5]
print(nums)

[100, 200, 300]

In [13]:
#2
nums = [100,200,300,400,500]
nums.pop()              # 끝 요솟값 제거
nums.pop()
print(nums)

[100, 200, 300]

In [14]:
#3
nums = [100,200,300,400,500]
nums = nums[:3]          #슬라이싱 활용
print(nums)

[100, 200, 300]

In [21]:
#q2 리스트 내장함수 insert 이용 결과값 [200,100,10000,300]
i = [200,100,300]
i.insert(2,10000)
print(i)

[200, 100, 10000, 300]

In [23]:
#q3 변수 타입
i = [100,200,300]
print(type(i))

<class 'list'>

In [27]:
#q4 for 문 계산
a = 10
b = 2
for i in range(1, 5, 2):  # 1에서 5미만까지 2씩 증가하는 수를 i 에 하나씩 대입 i = 1 i = 3
    a += i                # 10 + 1 + 3
print(a+b)

16

In [29]:
#q5 변수로 사용하지 못하는것 as ('예약어'이기 때문에), 1age(변수는 숫자로 시작 x)

In [32]:
#q6   # 딕셔너리 이름이 중복되면 중복된 값중 뒤에 있는 값이 도출된다.
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesitght':1}   #딕셔너리 키 이름 중복
print(d['weight'])

84

In [37]:
#q7    # sep 과 end 를 활용하여 결과값 1줄로 출력
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second ='27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

In [40]:
#q8
n = int(input('몇단짜리 크리스마스 트리를 만들까요?'))
for i in range(1,n+1):      # 0부터 n+1 미만   n = 5  라고 가정
  print(" " * (n-i) + "*"*(2*i-1))

몇단짜리 크리스마스 트리를 만들까요?5
    *
   ***
  *****
 *******
*********

In [46]:
#q9      클래스 작성

class Wizard:
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor
  def attack(self):
    print('파이어볼')
    
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [51]:
planets = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']

n = int(input('몇번째 행성의 이름을 알고 싶으신가요? :' ))
print(planets[n-1])

몇번째 행성의 이름을 알고 싶으신가요? :1
수성

In [53]:
r = input('거꾸로:')
print(''.join(reversed(r)))

거꾸로:거꾸로
로꾸거